/* GOOGLE FONTS **************************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* VARIABLES *****************************************/
:root {
    /* Colors *******************/
    --navy: #263238;
    --navy-light: #455A64;
    --navy-lighter: #98ACB6;
    --blue: #407BFF;
    --blue-light: #76a1fc;
    --white: #FFF;

    /* Font *********************/
    --body-font: 'Poppins', sans-serif;

    /* Font Weight **************/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-extra-bold: 800;
}

/* Base ********************************************/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input {
    font-family: var(--body-font);
    font-size: 1rem;
}

body {
    margin: 0;
    background-color: var(--white);
    color: var(--navy);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: .5rem;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

/*  Reusable CSS Class ******************************/
.container {
    max-width: 1024px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.main {
    overflow: hidden;
}

.section {
    padding: 3rem 0 0;
}

.section__title {
    position: relative;
    margin-bottom: 2rem;
    letter-spacing: 2px;
    text-align: center;
}

.section__title::after {
    content: '';
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 200px;
    height: 2px;
    background-color: var(--blue);
}

.card {
    padding: 1.5rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 1rem;
}

/*  Header *****************************************/
.header {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.nav__logo,
.nav__toggle,
.nav__close {
    color: var(--navy);
}

.nav__logo {
    font-size: 1rem;
    font-weight: var(--font-semi-bold);
}

.nav__logo-rush {
    font-weight: var(--font-extra-bold);
    font-style: italic;
    color: var(--blue);
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        background-color: var(--white);
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        padding: 6rem 2rem 3.5rem;
        transition: .3s;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
}

.nav__link {
    color: var(--navy);
    font-weight: var(--font-semi-bold);
    transition: .3s;
}

.nav__toggle {
    font-size: 1.5rem;
}

.nav__close {
    font-size: 2rem;
    position: absolute;
    top: .5rem;
    right: 1.25rem;
}

.nav__link:hover {
    color: var(--blue);
}

/* Show Menu *********************/
.show-menu {
    right: 0;
}

/* Change header background  *********************/
.scroll-header {
    background-color: var(--white);
    box-shadow: 0 1px 4px hsla(0, 4%, 15%, .1);
}

/*  Home *****************************************/
.home__container {
    row-gap: 2rem;
}

.home__img-bg {
    text-align: center;
}

.home__img {
    width: 275px;
}

.home__data {
    margin-bottom: 2rem;
    text-align: center;
}

.home__title {
    font-size: 2.25rem;
}

.home__title-rush {
    color: var(--blue);
    font-weight: var(--font-extra-bold);
    font-style: italic;
}

.home__subtitle {
    color: var(--navy-light);
    letter-spacing: 3px;
}

.home__description {
    font-size: .75rem;
    margin-top: .2rem;
    margin-bottom: 1rem;
}

.home__button {
    text-align: center;
}

.home__stats {
    background-color: var(--navy);
    color: var(--white);
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    justify-content: space-evenly;
}

.home__statistic {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100px; */
    margin: 1rem;
}

.home__statistic-caption {
    font-size: .6rem;
    text-align: center;
}

/*  Button *****************************************/
.button {
    display: inline-block;
    background-color: var(--blue);
    color: var(--white);
    padding: .6rem 1.5rem;
    border-radius: 3rem;
    font-weight: var(--font-medium);
    font-size: .875rem;
}

.button:hover {
    background-color: var(--blue-light);
}

/*  Profile *****************************************/
.profile__img-bg {
    padding: 1rem;
    text-align: center;
}

.profile__img {
    width: 300px;
}

.profile__title {
    text-align: center;
    font-weight: var(--font-semi-bold);
}

.profile__article {
    font-size: .75rem;
    text-align: justify;
    margin-top: 1rem;
}

.profile__photo {
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.profile__data {
    font-size: .75rem;
    text-align: center;
}

.profile__team-title {
    text-align: center;
    margin: 2rem 0 1rem;
}

.profile__team {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.profile__team-photo {
    width: 50px;
}

/*  Service *****************************************/
.service__data {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    justify-content: center;
}

.service__card {
    padding: .5rem;
    width: 140px;
    text-align: center;
}

.service__img {
    min-height: 80px;
    margin-bottom: .5rem;
}

.service__title {
    font-size: .8rem;
    margin-bottom: .3rem;
}

.service__caption {
    font-size: .7rem;
}

/*  Blog *****************************************/
.blog__img {
    width: 400px;
    border-radius: 10px;
}

.blog__img:hover {
    transform: scale(1.2);
    transition: .3s;
}

.image__overlay {
    border-radius: 10px;
    overflow: hidden;
}

.blog__date {
    font-size: .75rem;
    font-weight: var(--font-bold);
    color: var(--navy-lighter);
}

.blog__title {
    font-size: 1rem;
}

.blog__caption {
    font-size: .75rem;
}

.blog__button {
    display: block;
    font-size: .75rem;
    font-style: italic;
    font-weight: var(--font-semi-bold);
    color: var(--blue);
    float: right;
}

/*  Footer *****************************************/
.footer {
    background-color: var(--navy);
    margin-top: 3rem;
    color: var(--white);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer__data {
    display: flex;
    column-gap: 2rem;
    row-gap: 1rem;
    flex-wrap: wrap;
}

.footer__address {
    width: 300px;
}

.footer__title {
    font-size: 1.5rem;
    font-weight: var(--font-semi-bold);
}

.footer__title-rush {
    font-weight: var(--font-bold);
    font-style: italic;
    color: var(--blue);
}

.footer__subtitle {
    font-weight: var(--font-semi-bold);
    letter-spacing: 2px;
    margin-bottom: .5rem;
}

.footer__detail {
    font-size: .75rem;
    display: flex;
    column-gap: .75rem;
}

.footer__detail-icon {
    font-size: 1rem;
}

.footer__media-icon {
    font-size: 2rem;
    margin-right: .5rem;
}

.footer__media-icon:hover {
    color: var(--blue);
    cursor: pointer;
}

.footer__contact {
    width: 300px;
}

.contact__input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: .5rem;
    font-family: var(--body-font);
    font-size: .75rem;
    font-weight: var(--font-medium);
    color: var(--navy-light);
    margin-bottom: .5rem;
}

.contact__button {
    padding: .6rem 2.5rem;
}


/*  Media Queries *****************************************/
/* Medium device *******/
@media screen and (min-width: 576px) {
    .home__statistic-number {
        font-size: 1.75rem;
    }

    .service__card {
        width: 180px;
    }

    .blog__img {
        width: 200px;
    }

    .blog__card {
        display: flex;
        column-gap: 1rem;
    }
}

@media screen and (min-width: 767px) {
    .container {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .section {
        padding: 5rem 0 1rem;
    }

    .nav__logo {
        font-size: 1.3rem;
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 2rem;
    }

    .nav__link {
        font-size: .75rem;
        font-weight: var(--font-medium);
    }

    .home__container {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .home__img-bg {
        width: 40%;
    }

    .home__data {
        width: 60%;
        text-align: left;
    }

    .home__button {
        text-align: left;
    }

    .profile__container {
        display: flex;
        column-gap: 1rem;
    }

    .service__card {
        width: 150px;
    }

    .blog__data {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1rem;
        justify-content: center;
    }

    .blog__card {
        width: 45%;
        display: inline;
    }

    .blog__img {
        width: 100%;
    }

    .footer__data {
        column-gap: 1rem;
        justify-content: space-between;
    }

    .footer__address {
        width: 30%;
    }

    .footer__media {
        width: 20%;
    }

    .footer__contact {
        width: 40%;
    }
}

/* Large device *******/
@media screen and (min-width: 992px) {
    .container {
        margin-left: 8rem;
        margin-right: 8rem;
    }

    .nav {
        height: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* font-size: 2rem; */
    }

    .nav__logo {
        font-size: 1.5rem;
        font-weight: var(--font-semi-bold);
    }

    .nav__link {
        font-size: 1rem;
    }

    .section__title {
        font-size: 1.5rem;
    }

    .section__title::after {
        top: 2.5rem;
        margin: 0 auto;
        height: 3px;
    }

    .home__container {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .home__img-bg {
        width: 40%;
    }

    .home__data {
        width: 60%;
    }

    .home__title {
        font-size: 3rem;
    }

    .home__subtitle {
        font-size: 1.5rem;
    }

    .home__description {
        font-size: 1rem;
    }

    .home__statistic {
        padding: .5rem;
    }

    .home__statistic-number {
        font-size: 2.5rem;
    }

    .home__statistic-caption {
        font-size: 1rem;
    }

    .profile__title {
        font-size: 1.25rem;
    }

    .profile__article {
        font-size: 1rem;
    }

    .profile__data {
        font-size: 1rem;
    }

    .service__card {
        width: 170px;
    }

    .service__title {
        font-size: 1rem;
    }

    .service__caption {
        font-size: .875rem;
    }

    .blog__date {
        font-size: 1rem;
    }

    .blog__title {
        font-size: 1.25rem;
    }

    .blog__caption {
        font-size: 1rem;
    }
    
    .blog__button {
        font-size: 1rem;
    }

    .footer__title {
        font-size: 1.75rem;
    }

    .footer__subtitle {
        font-size: 1rem;
    }

    .footer__detail {
        font-size: 1rem;
    }

    .contact__input {
        font-size: 1rem;
    }

}

/* Extra large device *******/
@media screen and (min-width: 1120px) {}